/* styles.css */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: rem;
    transition: transform 0.9s, box-shadow 0.4s;
    height: 100%;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    font-size: 1.25rem;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* Centers the image vertically relative to the bio text */
.quarto-about-trestles {
    align-items: center;
}